# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

# Entornos virtuales
.env
.venv/
venv/
env/

# Distribución / empaquetado
*.egg-info/
dist/
build/

# IDEs
.vscode/
.idea/

# Streamlit
.streamlit/

# Sistema
.DS_Store
Thumbs.db
